@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  font-size: 1.6rem;
  background-color: var(--Off-white);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  margin: 0 auto;
  background-color: var(--White);
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  margin-top: 9rem;
}

.inputs-container {
  display: flex;
  justify-content: center;
  width: 375px;
}

.inputs-container input {
  width: 10rem;
  height: 5rem;
  margin: 0 10px;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--Light-grey);
  outline: none;
  text-align: center;
  font-weight: 800;
  font-size: 1.9rem;
}

#day.active {
  border-color: var(--Light-red);
}

#month.active {
  border-color: var(--Light-red);
}

#year.active {
  border-color: var(--Light-red);
}

.p-day.active {
  color: var(--Light-red);
}

.p-month.active {
  color: var(--Light-red);
}

.p-year.active {
  color: var(--Light-red);
}

.inputs-container input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.inputs-container p {
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: var(--Smokey-grey);
  margin-left: 12px;
  margin-bottom: 3px;
  margin-top: 1.5rem
}

.inputs-container .error {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  display: block;
  width: 8rem;
  margin-left: 20px;
  text-align: center;
  color: var(--Light-red);
  display: none;
}

.main-container .submit {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  border: none;
  background-color: var(--Purple);
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 3rem;
}

.main-container .submit:focus {
  border: none;
  outline: none;
}

.main-container .submit img {
  height: 30px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
}

.results p {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  line-height: 6.5rem;
  margin: 0 auto;
}

.results p span {
  color: var(--Purple);
}